body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: #79c4b6;
}
.wrap{
    width: 100%;
    max-width: 700px;
    padding: 40px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 0px 3px grey;
}
h1{
    text-align: center;
}
label{
    display: block;
    margin-top: 30px;
}
input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 6px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
input[type="number"]{
    width: 15%;
    padding: 6px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
input[type="tel"]{
    width: 30%;
    padding: 6px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

input[type="datetime-local"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

input[type="submit"],
input[type="reset"] {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #45a049;
}